body {
    background-color: #efeee7;
    font-family: "Georgia",Times New Roman,Times,serif;
    color: #333333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333333;
}

h1 {
    color: #eee;
    font-size: 28px;
    margin-left: 20px;
    
}

h2 {
    font-size: 24px;
    margin: 0 auto;
    margin-left: 20px;
    
}

#main-bio {
    float: left;
    max-width: 70%;
}

#contact-info {
    float: left;
    max-width: 30%;
    
}

#bio-image {
    float: left;
    max-width: 200px;
    margin: 20px 20px 20px 20px;}


div.container {
    line-height: 1.5;
}

a {
    color: #d21034;
}

